*.tgz
tmpcharts
*.tfvars
.terraform
.terraform.lock.hcl
*.tfstate*
.tfplan
*.env
*.properties
*.DS_Store

.idea
linode-kube-config
deploy.yaml
ingress-namebased.yaml
ingress-path-backend.yaml
ingress-path.yaml
ingress-single.yaml
ingress-tls.yaml
1-ingress-loadblancer.sh
1-ingress-nodeport.sh
ingress-nginx-controller-setup
baremetal
cloud

variables.tf
manifests
*.yaml